version: "3.9"

services:
  db:
    image: postgres:15
    container_name: book_db
    ports:
      - "${DB_PORT}:5432"
    env_file:
      - db.env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
